
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="kidsplay" data-icon="smile-o" data-event-click="onClick" data-event-touchend="onClick" data-view="Stmodechange" data-title="Kids Play" data-phrase="Kids Play" data-changemode="Kids Play" style="background-color:#96bf48;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="watchmovies" data-view="Stmodechange" data-title="Watch Movie" data-phrase="Watch Movie" data-icon="play-circle" data-event-touchend="onClick" data-event-click="onClick"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="theatreoff" data-icon="power-off" data-event-click="onClick" data-event-touchend="onClick" data-view="Stmodechange" data-title="Off" data-phrase="Theatre Off"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cpage1" data-view="Changepage" data-icon="arrow-right" data-title="Advanced" data-page="2" data-stagger="false" data-fasttransition="true"></div>
    </li>

    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>
  </ul>
</div>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="text2" data-view="Text" data-text="Advanced" ></div>
    </li>
	  <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="Back" data-page="1"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="frontleft" data-view="Stdimmer" data-icon="lightbulb-o" data-title="Front Left" data-device="Front Left Light"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="frontcenter" data-view="Stdimmer" data-title="Front Center" data-device="Front Center Light"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="frontright" data-view="Stdimmer" data-title="Front Right" data-device="Front Right"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="rearleft" data-view="Stdimmer" data-title="Rear Left" data-device="Theatre Rear Left"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="rearcenter" data-view="Stdimmer" data-title="Rear Center" data-device="Theatre Rear Center"></div>
    </li>

    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="rearright" data-view="Stdimmer" data-title="Rear Right" data-device="Theatre Rear Right"></div>
    </li>

    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="castle" data-view="Stswitch" data-title="Lamp" data-device="Play Area Lamp"></div>
    </li>
 </ul>
</div>
